<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite"parallel="classes">
    <test verbose="2" preserve-order="true"
          name="Smoke Test Suit">
        <classes>
            <class name="basic_3_TestNG.Day_19_FaceBook"/>

            <class name="basic_3_TestNG.Day_19_Google"/>

        </classes>
    </test>
</suite>